<ul class="navbar-nav mb-0">
  {% block navbar-nav-inner %}
  <li class=" nav-item">
    <a class="btn nav-link nav-active" href="#">
      <i class="nav-icon icon-speedometer"></i> Lien
    </a>
  </li>
  <li class=" nav-item">
    <a class="btn nav-link " href="#">
      <i class="nav-icon icon-clock"></i> Lien
    </a>
  </li>

  <li class=" nav-item">
    <a class="btn nav-link" href="#">
      <i class="nav-icon icon-clock"></i> Lien
    </a>
  </li>
  <li class=" nav-item">
    <a class="btn nav-link" href="#">
      <i class="nav-icon icon-clock"></i> Lien
    </a>
  </li>
  <li class=" nav-item">
    <a class="btn nav-link" href="#">
      <i class="nav-icon icon-clock"></i> Lien
    </a>
  </li>
  <li class=" nav-item">
    <a class="btn nav-link" href="#">
      <i class="nav-icon icon-clock"></i> Lien
    </a>
  </li>
  {% endblock navbar-nav-inner %}
</ul>
