/* Personnal values */
/* margin */
.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 2px !important;
}

.mb-2 {
  margin-bottom: 4px !important;
}

.mb-3 {
  margin-bottom: 6px !important;
}

.mb-4 {
  margin-bottom: 9px !important;
}

.mb-5 {
  margin-top: 1rem !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 2px !important;
}

.mt-2 {
  margin-top: 4px !important;
}

.mt-3 {
  margin-top: 6px !important;
}

.mt-4 {
  margin-top: 9px !important;
}

.mt-5 {
  margin-top: 1rem !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 2px !important;
}

.mr-2 {
  margin-right: 4px !important;
}

.mr-3 {
  margin-right: 6px !important;
}

.mr-4 {
  margin-right: 9px !important;
}

.mr-5 {
  margin-right: 1rem !important;
}
/* margin */
.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 2px !important;
}

.ml-2 {
  margin-left: 4px !important;
}

.ml-3 {
  margin-left: 6px !important;
}

.ml-4 {
  margin-left: 9px !important;
}

.ml-5 {
  margin-left: 1rem !important;
}

.row {
  display: flex;
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.pos-fix-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.pos-fix-top {
  position: fixed;
  top:: 0;
  width: 100%;
}