/* Personnal values */
/* margin */
.mb-0 {
  margin-bottom: 0 !important; }

.mb-1 {
  margin-bottom: 1px !important; }

.mb-2 {
  margin-bottom: 2px !important; }

.mb-3 {
  margin-bottom: 3.5px !important; }

.row {
  display: flex;
  justify-content: space-between; }

.btn {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  background-color: #bab5a1;
  color: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transition-property: color, background-color, box-shadow; }
  .btn:hover {
    color: #dcd8c0;
    background-color: #454138;
    box-shadow: 0.2em 0.2em 0.1em 0 #bab5a1; }
  .btn:active {
    background-color: #dcd8c0;
    color: #454138; }

*:focus {
  outline: none !important; }

body {
  background-color: #C8C2AA;
  background-size: 4px 4px;
  background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(0, 0, 0, 0.07) 4px), linear-gradient(transparent, transparent 3px, rgba(0, 0, 0, 0.07) 4px);
  color: #4D493E;
  font-family: "helvetica", sans-serif;
  font-weight: lighter;
  letter-spacing: 0.03rem;
  margin: 0;
  min-height: 100vh;
  box-shadow: inset 0 0 150px rgba(77, 73, 62, 0.4), inset 0 0 150px rgba(77, 73, 62, 0.3);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  letter-spacing: 0.1rem; }

::selection {
  background-color: #C8C2AA; }

header {
  padding: 1rem 0; }

.navbar-nav {
  display: flex;
  padding: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  list-style-type: none;
  justify-content: flex-start; }
  .navbar-nav .nav-item {
    margin-right: 15px; }
    .navbar-nav .nav-item .nav-link {
      text-decoration: none;
      font-size: 1.5rem; }
    .navbar-nav .nav-item .nav-active {
      color: #dcd8c0;
      background-color: #454138;
      box-shadow: 0.2em 0.2em 0.1em 0 #bab5a1;
      border-bottom: solid #454138 10px; }

.container {
  padding: 0 4rem; }

h1 {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-shadow: 0.3rem 0.3rem 0 #4d493e3d; }
  h1 span {
    margin-right: -.7rem; }

h2 {
  font-weight: lighter;
  border: solid #4d493e3d;
  border-width: 0.1rem 0;
  padding: 0.1rem 1rem; }

h3,
h4,
h5,
h6 {
  font-weight: lighter;
  letter-spacing: 0.1rem; }

a {
  color: inherit; }

p {
  margin: 0 0 1rem; }

main {
  flex: 1; }

img {
  box-shadow: 3px 3px 0 rgba(77, 73, 62, 0.6); }

.content {
  padding-left: 4rem;
  background-image: linear-gradient(90deg, rgba(77, 73, 62, 0.2), rgba(77, 73, 62, 0.2) 14px, transparent 14px, transparent 20px, rgba(77, 73, 62, 0.2) 20px, rgba(77, 73, 62, 0.2) 23px, transparent 23px);
  margin-bottom: 2rem; }

.pattern {
  border-top: 2px solid #4D493E; }

.pattern-inner {
  height: 40px;
  background-size: 50px 3px, 50px 1px, 50px 1px, 50px 1px, 50px 1px, 50px 1px, 50px 1px, 50px 1px, 50px 1px;
  background-position: 0 0, 22px 4px, 22px 5px, 22px 6px, 22px 7px, 28px 12px, 28px 13px, 28px 14px, 28px 15px;
  background-image: linear-gradient(90deg, #4D493E, #4D493E 10px, transparent 10px), linear-gradient(90deg, rgba(77, 73, 62, 0.4), rgba(77, 73, 62, 0.4) 1px, rgba(77, 73, 62, 0.8) 1px, rgba(77, 73, 62, 0.8) 2px, rgba(77, 73, 62, 0.9) 2px, rgba(77, 73, 62, 0.9) 3px, rgba(77, 73, 62, 0.4) 3px, rgba(77, 73, 62, 0.4) 4px, transparent 4px, transparent 12px, rgba(77, 73, 62, 0.4) 12px, rgba(77, 73, 62, 0.4) 13px, rgba(77, 73, 62, 0.8) 13px, rgba(77, 73, 62, 0.8) 14px, rgba(77, 73, 62, 0.9) 14px, rgba(77, 73, 62, 0.9) 15px, rgba(77, 73, 62, 0.4) 15px, rgba(77, 73, 62, 0.4) 16px, transparent 16px), linear-gradient(90deg, rgba(77, 73, 62, 0.9), rgba(77, 73, 62, 0.9) 1px, #4d493e 1px, #4d493e 2px, #4d493e 2px, #4d493e 3px, rgba(77, 73, 62, 0.9) 3px, rgba(77, 73, 62, 0.9) 4px, transparent 4px, transparent 12px, rgba(77, 73, 62, 0.9) 12px, rgba(77, 73, 62, 0.9) 13px, #4d493e 13px, #4d493e 14px, #4d493e 14px, #4d493e 15px, rgba(77, 73, 62, 0.9) 15px, rgba(77, 73, 62, 0.9) 16px, transparent 16px), linear-gradient(90deg, rgba(77, 73, 62, 0.9), rgba(77, 73, 62, 0.9) 1px, #4d493e 1px, #4d493e 2px, #4d493e 2px, #4d493e 3px, rgba(77, 73, 62, 0.9) 3px, rgba(77, 73, 62, 0.9) 4px, transparent 4px, transparent 12px, rgba(77, 73, 62, 0.9) 12px, rgba(77, 73, 62, 0.9) 13px, #4d493e 13px, #4d493e 14px, #4d493e 14px, #4d493e 15px, rgba(77, 73, 62, 0.9) 15px, rgba(77, 73, 62, 0.9) 16px, transparent 16px), linear-gradient(90deg, rgba(77, 73, 62, 0.4), rgba(77, 73, 62, 0.4) 1px, rgba(77, 73, 62, 0.8) 1px, rgba(77, 73, 62, 0.8) 2px, rgba(77, 73, 62, 0.9) 2px, rgba(77, 73, 62, 0.9) 3px, rgba(77, 73, 62, 0.4) 3px, rgba(77, 73, 62, 0.4) 4px, transparent 4px, transparent 12px, rgba(77, 73, 62, 0.4) 12px, rgba(77, 73, 62, 0.4) 13px, rgba(77, 73, 62, 0.8) 13px, rgba(77, 73, 62, 0.8) 14px, rgba(77, 73, 62, 0.9) 14px, rgba(77, 73, 62, 0.9) 15px, rgba(77, 73, 62, 0.4) 15px, rgba(77, 73, 62, 0.4) 16px, transparent 16px), linear-gradient(90deg, rgba(77, 73, 62, 0.4), rgba(77, 73, 62, 0.4) 1px, rgba(77, 73, 62, 0.8) 1px, rgba(77, 73, 62, 0.8) 2px, rgba(77, 73, 62, 0.9) 2px, rgba(77, 73, 62, 0.9) 3px, rgba(77, 73, 62, 0.4) 3px, rgba(77, 73, 62, 0.4) 4px, transparent 4px), linear-gradient(90deg, rgba(77, 73, 62, 0.9), rgba(77, 73, 62, 0.9) 1px, #4d493e 1px, #4d493e 2px, #4d493e 2px, #4d493e 3px, rgba(77, 73, 62, 0.9) 3px, rgba(77, 73, 62, 0.9) 4px, transparent 4px), linear-gradient(90deg, rgba(77, 73, 62, 0.9), rgba(77, 73, 62, 0.9) 1px, #4d493e 1px, #4d493e 2px, #4d493e 2px, #4d493e 3px, rgba(77, 73, 62, 0.9) 3px, rgba(77, 73, 62, 0.9) 4px, transparent 4px), linear-gradient(90deg, rgba(77, 73, 62, 0.4), rgba(77, 73, 62, 0.4) 1px, rgba(77, 73, 62, 0.8) 1px, rgba(77, 73, 62, 0.8) 2px, rgba(77, 73, 62, 0.9) 2px, rgba(77, 73, 62, 0.9) 3px, rgba(77, 73, 62, 0.4) 3px, rgba(77, 73, 62, 0.4) 4px, transparent 4px);
  background-repeat: repeat-x; }

/* CARD NIER */
.card {
  height: 320px;
  width: 500px;
  background-color: #dcd8c0; }
  .card .title {
    order: -1;
    margin: 0 0 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    color: #bab5a1;
    background-color: #4D493E; }
