{% block modal-header %}
<div id="modal" class="modal" aria-hidden="true" role="dialog" aria-modal="false" aria-label="titlemodal" style="display:none;">
  {% block header %}
  <figure class="js-modal-stop">
    <figcaption id="titlemodal">{{ title }}</figcaption><button class="cross js-modal-close">&times;</button>
  {% endblock header %}
{% endblock modal-header %}
    <div class="modal-wrapper">
      {% block body %}
      {% block content %}
      <form class="" action="index.html" method="post">
        <label for="">Name:</label>
        <input type="text" name="name" value="">
        <label for="">Email:</label>
        <input type="text" name="name" value="">
        <button type="submit" name="button">submit</button>
      </form>
      {% endblock %}
      {% block footer %}{% endblock footer %}
      {% endblock body %}
    </div>
  </figure>
</div>

{% block footer-js %}
{% endblock footer-js %}

{% block modal-js %}
{% endblock modal-js %}
