{% extends "base.html" %}

{% block head-body %}{% endblock %}

{% block body %}

{# Sidebar #}
{% block navbar %}
<div class="container">
  <nav class="content mb-5">
    {% block nav %}
    {% include "include/navbar_menu.html" %}
    {% endblock nav %}
  </nav>
</div>
{% endblock navbar %}

<div class="pattern">
  <div class="container">
    <div class="pattern-inner"></div>
  </div>
</div>

{% block content-title %}
<header>
  <div class="container">
    <h1>
      <span>{% block title %}{{ title }}{% endblock title %}</span>
    </h1>
  </div>
</header>
{% endblock content-title %}

{% block content-inner %}
{% endblock content-inner %}

<div class="pattern pos-fix-bottom">
  <div class="container">
    <div class="pattern-inner"></div>
  </div>
</div>

{% block footer-body-js %}
{% endblock %}
{% endblock %}
